* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.griglia > * {
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

button > img {
    filter: grayscale(100%) ;
}


.mirrored {
    transform: scaleX(-1);
}

#score,
#game-over{
    font-size: 100px;
}
  